@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

@font-face {
  font-family: "Magilio";
  src: url("../assets/fonts/MagilioRegular-8Mxvg.otf") format("opentype");
  font-weight: 100;
}

html {
  font-size: 17px;
  font-family: "Magilio";
}

:root {
  --primary-color: #314d4f;
  --secondary-color-light: #e1c7c1;
  --tertiary-color-verylight: #f8f3f1;
  --square-color1: #5d362d;
  --square-color2: #355355;
  --darken-text: #273e3f;
  --very-darken-text: #1d2e2f;
  --brown-text: #bd8275;
  --line-color: #efe0dc;
  --text-section: "Outfit";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
}
