.project-demo-bckg{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color) ;
    padding-top: 1em;
}

.projet-name{
    font-size: 8em;
    color: var(--tertiary-color-verylight);
}



.main-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    color: var( --brown-text);
}

video{
    height: 25em;
    width: 25em;
}

.description{
    width: 20%;
    text-align: center;
    
}